:root {
  --primary-color: #00ABE1;
  --secondary-color: #FFFFFF;
  --text-primary-color: #000000;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

a {
  color: var(--secondary-color);
}

footer {
  text-align: center;
  background-color: var(--secondary-color);
  align-items: flex-end;
}

/* Begin FormSpree Styles */
#fs-frm label {
  color: var(--text-primary-color);
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 1rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: var(--secondary-color);
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

#full-name {
  max-width: 25%;
}

#email-address {
  max-width: 35%;
}

#message {
  max-width: 50%;
}
#input {
  color: var(--text-primary-color);
}

/* End FormSpree Styles */

form {
  border: solid 1px var(--text-primary-color);
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
}

th,
td {
  border: 1px solid var(--text-primary-color);
  padding: 8px 10px;
}

th[scope='col'] {
  background-color: var(--text-primary-color);
  color: var(--secondary-color);
}

tr {
  background-color: var(--secondary-color);
}

td {
  text-align: left;
}

#incomeTable > * {
  margin: 0.5rem;
}

#expenseTable > * {
  margin: 0.5rem;
}

#bio {
  margin: 1rem 1rem;
}
#chart-container {
  background-color: white;
  max-height: 70vh;
  max-width: 80vw;
  margin: auto;
}
/* Start Media Queries */

@media (max-width: 549px) {
  .hidden--mobile {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  form > input[type="submit"] {
    width: 40%;
    margin: 0.5rem;
    margin-right: auto;
  }

  #fs-frm [type="submit"] {
    width: 40%;
    margin: 0.5rem;
    margin-right: auto;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    background-color: var(--text-primary-color);
  }

  nav > .fa-bars {
    display: none;
  }

  form > input[type="submit"] {
    width: 15%;
    margin: 0.5rem;
    margin-right: auto;
  }

  #fs-frm [type="submit"] {
    width: 15%;
    margin: 0.5rem;
    margin-right: auto;
  }
}
/* End Media Queries */
